.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border: 7px;
   border-color: blueviolet;
   border-style: ridge;
}

